<li>
  <h2><%= link_to post.title, blog_post_url(post) %></h2>
  <p class='posted_at'>
    <%= post.created_at.strftime("#{to_ordinal(post.created_at.day)} of %B, %Y") %>
  </p>
  <div class='clearfix'>
    <%= raw truncate(strip_tags(post.body), :length => RefinerySetting.find_or_set(:blog_post_teaser_length, 20), :omission=> "... #{raw(link_to "Read more", blog_post_url(post))}").split("\n").map{|p| "<p>#{p}</p>"} %>
  </div>
</li>