<li>
  <h2><%= link_to post.title, blog_post_url(post) %></h2>
  <p class='posted_at'>
    <%= post.created_at.strftime("#{to_ordinal(post.created_at.day)} of %B, %Y") %>
  </p>
  <div class='clearfix'>

    <%= truncate_and_clean_blog_post post %>
  </div>
</li>