<div class="galleries_by_region" id="gallery-by-region">
  <div class="top"></div>
  <div class="middle">
    <h3>Other sites Galleries by Region</h3>
    <ul>
      <% unless @sites_by_region_galleries.empty? %>
        <% @sites_by_region_galleries.each do |gallery| %>
          <% if entry = gallery.gallery_entries.first %>
            <li <%=raw cycle('', '', 'class="last"') %>>
              <div class="image">
                <%= link_to(image_fu(entry.image, :small, :title => entry.name), gallery_url(gallery)) %>
              </div>
              <div class="text">
                <%= simple_format(truncate(strip_tags(gallery.body), :length => 80)) %>
              </div>
            </li>
          <% end -%>
        <% end -%>
      <% end -%>
    </ul>
  </div>
  <div class="bottom"></div>
</div>