        <span id="latitude" class="hidden">40</span>
        <span id="longitude" class="hidden">8</span>

        <div id="content">
          <div class="main_media">
            <div class="head_post">
              <div class="top"></div>
              <div class="middle">
                <div class="left">
                  <p class="back"><a href="#">Back to galleries</a></p>
                  <h1><%= @gallery.name %>.</h1>
                </div>
                <div class="right">
                  <ul>
                    <li class="last"><p class="videos">2 videos</p></li>
                    <li><p class="photos">21 photos</p></li>
                  </ul>
                </div>
                <span class="line"></span>
              </div>
            </div>
            <div class="middle">
              <div class="slider">
                <img src="/images/fake/big.jpg" alt="asdfas df asf asfa sd fdsaf" title="asdfas df asf asfa sd fdsaf" />
                <img src="/images/fake/example.jpg" alt="asdfas df asf asfa sd fdsaf" title="asdfas df asf asfa sd fdsaf" />
                <!-- <% @gallery.gallery_entries.each do |gallery_entry| %>
                   <%= image_fu gallery_entry.image, :large %>
                <% end -%> -->
              </div>
              <div class="bottom_content">
                <div class="block map" id="map">
                </div>
                <div class="block">
                  <%= raw @gallery.body %>
                </div>
                <div class="block last"></div>
              </div>
            </div>
            <div class="bottom">
              <a href="#">View site details</a>
            </div>
          </div>


          <div class="galleries_by_region">
            <div class="top"></div>
            <div class="middle">
              <h3>Other sites Galleries by Region</h3>
              <ul>
                <li>
                  <div class="image">
                    <img src="../images/avatars/null.jpg" />
                  </div>
                  <div class="text">
                    <p>Hydrate samples and field activities from Lake Baikal.</p>
                  </div>
                </li>
                <li>
                  <div class="image">
                    <img src="../images/avatars/null.jpg" />
                  </div>
                  <div class="text">
                    <p>Hydrate samples and field activities from Lake Baikal.</p>
                  </div>
                </li>
                <li class="last">
                  <div class="image">
                    <img src="../images/avatars/null.jpg" />
                  </div>
                  <div class="text">
                    <p>Hydrate samples and field activities from Lake Baikal.</p>
                  </div>
                </li>
                <li>
                  <div class="image">
                    <img src="../images/avatars/null.jpg" />
                  </div>
                  <div class="text">
                    <p>Hydrate samples and field activities from Lake Baikal.</p>
                  </div>
                </li>
                <li>
                  <div class="image">
                    <img src="../images/avatars/null.jpg" />
                  </div>
                  <div class="text">
                    <p>Hydrate samples and field activities from Lake Baikal.</p>
                  </div>
                </li>
                <li class="last">
                  <div class="image">
                    <img src="../images/avatars/null.jpg" />
                  </div>
                  <div class="text">
                    <p>Hydrate samples and field activities from Lake Baikal.</p>
                  </div>
                </li>            
              </ul>
            </div>
            <div class="bottom"></div>
          </div>
        </div>
        
