<div id="footer" <%= extra_class ? raw("class=\"#{extra_class}\"") : nil %>>
  <div class="inner_footer">
    <div class="left">
      <h4>A PROJECT BY</h4>
      <a href="http://www.grida.no/" class="logo"><%= image_tag 'common/footer_logo.jpg' %></a>
      <p>UNEP/GRID-Arendal.<br/>All rights reserved.</p>
      <p class="list"><a href="/sitemap">Sitemap</a> / <a href="/about">Contact</a></p>
    </div>
    <div class="right">
      <ul>
        <li class="last"><a href="/about">CONTACT</a></li>
        <li><a href="/blog">BLOG</a></li>
        <li class="fixed last"><a href="/about">LEARN MORE</a>
      <div>
        <p><a href="/about">About the project</a></p>
        <p><a href="/faq">FAQ</a></p>
        <p><a href="/partners">Partners</a></p>
      </div>

    </li>
        <li class="fixed">
          <a href="/events">UPCOMING EVENTS</a>
          <div>
            <p><a href="/events">Events calendar</a></p>
          </div>
        </li>
        <li class="fixed">
          <a href="/galleries">MEDIA RESOURCES</a>
          <div>
            <p><a href="/galleries">Media Galleries</a></p>
            <!-- <p><a href="#">Vimeo page</a></p> -->
          </div>
        </li>
        <li class="fixed">
          <a href="/explore">EXPLORE THE SITES</a>
          <div>
            <p><a href="#">View list</a></p>
            <p><a href="#">View world map</a></p>
          </div>
        </li>
      </ul>
    <div id="vizz_sponsor">
    <p class="developed_by">designed & developed by</p>
    <a class="vizz_logo" href="http://www.vizzuality.com" target="_blank"></a>
    </div>
    </div>

  </div>
</div>
